<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="~/Admin/Dashboard"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
                <a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/User/ViewUsers">View User</a></li>

                </ul>
            </li>
            <li>
                <a><i class="fa fa-building-o"></i> User Departments <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Department/ViewDepartment">View Departments</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-building-o"></i> Human Resource <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/HumanResource/EmployeeReport">View Employees</a></li>
                    <li><a href="~/HumanResource/LeaveApplication">Apply for Leave</a></li>
                    <li><a href="~/HumanResource/EmployeeReport">Employee Appraisal</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-bank"></i>Asset Vendors <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Vendor/ViewVendors">View Asset Vendors</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-credit-card"></i> Asset Management <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Stock/ViewHardWareStock">View Hardware Assets</a></li>
                    <li><a href="~/Stock/ViewSoftwareStock">View Software Assets</a></li>
                    <li><a href="~/Assign/ViewAssignedItems">View Assigned Assets</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-bank"></i>Fleet Management <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="">Add New Fleet</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-file-text-o"></i>Categories <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Category/ViewCategories">View Categories</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-file-text-o"></i>Job Card <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/JobCard/CreateJobCard">Create JobCard</a></li>
                    <li><a href="~/JobCard/ViewJobCards">View JobCard</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
